html, body {
  text-align: center;
  background-color: white;
  
}

.outerl {

  width: 90%;
  height: 90%;
  margin: auto;
  border:1px solid black;
  background-color: lightblue;
}
.outerk {
  height: 10%;
  margin: auto;
  background-color: lightblue;
}
.inner {
	text-align: center;
	justify-content: center;
	margin: auto;
	width: 80%;
	height: 80%;
	background-color: lightblue;
}
.inner-left {
	text-align: left;
	justify-content: left;
	margin: auto;
	width: 80%;
	height: 80%;
	background-color: lightblue;
}
.button-section {
	text-align: center;
	justify-content: center;	
}
p {text-align: center;}


#equation {
	font-weight:bold;
}
@media (max-width: 399px) {
.inner-left {
	width: 95%;
}

}