html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  
}

.outerl {

  width: 90%;
  height: 90%;
  margin: auto;
  border:1px solid black;
  background-color: lightblue;
}
.outerk {
  height: 10%;
  margin: auto;
  background-color: lightblue;
}
.inner {
	text-align: center;
	justify-content: center;
	margin: auto;
	width: 80%;
	height: 80%;
	background-color: lightblue;
}
p {text-align: center;}
div {text-align: center;}
